.content
  .container
    h1 About
    hr
    h2 What is Meshleholm?
    p
      | Well, it's a meshnet, or hopefully it will be someday. Currently Meshleholm will be a school network were you won't need CJDNS to connect, everything on the Internet will still be accessible, but in the future there is a chance that everything will run atop of CJDNS. As of now, all users need to send us their MAC addresses so we can put them in the whitelist, this is so we have more control over who connects and are also able to remove those who abuse it.

  include ../layout/footer
