.content
  .container
    h1 Help
    hr
    h2(id='macaddress')  How do I get the MAC Address?
    h3 Windows
    p In the CMD, write:
    pre
      | ipconfig /all
    p And copy the string after HWAddr that looks something like this (under wireless adapter):
    pre
      | AB-BC-CD-DE-EF-FG
    p After you've copied it, make sure to replace the lines (-) with colons (:), just to make it easier for us.
    h3 Linux
    p Write:
    pre
      | ifconfig | grep wlan0
    p And copy the string after HWaddr that looks something like this:
    pre
      | ab:bc:cd:de:ef:fg

include ../layout/footer
