.content
  .container
    h1 Terms of Service
    hr
    div.alert.alert-info
      b Note!
      |  This is just a draft, but follow the sayings below.
    h2.text-danger Please, don't
    p
      | Don't abuse this service in any kind of way, please don't be a leecher, help us out with this network and make it better than Unicom. Don't overload this service with your porn downloading/uploading etc. Don't browse illegal content, child pornography etc.
    h2.text-success Please, do
    p
      | Take care of this network, and if you're interested; you could hook up with us and help us extend / improve it.
    h2.text-info This happens if you
    ul
      li.text-danger 
        b Overload the service with your shit
        |  - You'll get banned
      li.text-danger
        b Browse illegal content
        |  - You'll get banned
      li.text-danger
        b Abuse it in any other way
        |  - You guessed it, we'll ban you
      li.text-success
        b Help us out
        |  - You'll get a kiss from Petrus
    h2.text-info
      | Because you do not read this anyways
    p
      | Hereby, we own your left kidney.

include ../layout/footer
